<%- include("partials/head.ejs") %>
<div class="main">
    <div class="thought-container">
        <div class="bubble bubble-1"></div>
        <div class="bubble bubble-2"></div>
        <div class="bubble bubble-3"></div>
        <h1><%= ideas %></h1>
    </div>
</div>


<% for(let i = 0; i < dataEntered.length ; i++) { %>
<div class="content">
    <div class="box">
            <h2><%= JSON.parse(dataEntered[i]).heading %></h2>
            <p><%= JSON.parse(dataEntered[i]).body.substring(0, 300) + " ..." %></p>
            
            <div class="form">
                <form action="/viewPost" method="post">
                    <input type="hidden" name="indexInArray" class="buttonView">
                    <button type="submit">View ></button>
                </form>
                <form action="/editPost" method="post">
                    <input type="hidden" name="indexInArray" class="buttonEdit">
                    <button type="submit">EDIT</button>
                </form>
                <form action="/deleteLogin" method="post">
                    <input type="hidden" name="indexInArray" class="buttonDelete">
                    <button type="submit">DELETE</button>
                </form>
            </div>
    </div>
</div>
<% } %>
<%- include("partials/foot.ejs") %>